[Unit]
Description={{spring_application_name}}
Wants=network-online.target
After=network-online.target

[Service]
User={{spring_application_user}}
Group={{spring_application_group}}
ExecStart=/usr/bin/java -jar {{spring_application_path}}/ozan-backend.jar \
{% if spring_application_log_output is defined %}
--logging.file={{spring_application_log}}/spring.log
{% endif %}

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target