############################# Metricbeat ######################################
metricbeat.modules:
  {{ metricbeat_modules | to_json }}
output:
  logstash:  
    {{beat_logstash_output | to_json }}  
logging:  
  files:
    rotateeverybytes: 10485760 # = 10MB    
    keepfiles: 7