############################# Hearthbeat ######################################
heartbeat.monitors:  
  {{ heartbeat_monitors | to_json | replace('<CR><CF>','\\r\\n') }}
output:
  logstash:  
    {{beat_logstash_output | to_json }}  
logging:  
  files:
    rotateeverybytes: 10485760 # = 10MB    
    keepfiles: 7


  