# Zabbix Agent konfigurasyonu, plusclouds.zabbix.agent.reconfigure/defaults/main.yml belirtilen değişkenler ile konfigure edilmektedir.

PidFile={{ pidfile_path }}
LogFile={{ logfile_path }}
LogFileSize={{ logfile_size }}
Server={{ zabbix_server }}
ServerActive={{ zabbix_server_active }}
Hostname={{ zabbix_agent_hostname }}
Include={{ include_config_path }}
UnsafeUserParameters={{ allow_unsafe_paramaters }}

