PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=0
Server={{ blitz_monitoring_server_ip }}
ServerActive={{ blitz_monitoring_server_ip }}
Hostname={{ agent_name }}
Include=/etc/zabbix/zabbix_agentd.conf.d/
UnsafeUserParameters=1