output {
  if "beats" in [tags] {
    elasticsearch {
      hosts => "localhost:{{es_local_port}}"
      manage_template => false
      index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
      document_type => "%{[@metadata][type]}"
    }
  }
}