
#### Private Share ####
[{{ share_name }}]
 path = {{ share_path }}
 valid users = @{{ samba_group_name }}
 guest ok = no
{% if readonly %}
 writable = no
{% else %}
 writable = yes
{% endif %}
 browsable = yes
 create mask = 0775
 directory mask = 0775
