filter {
  if [type] == "rabbit" {
    grok {
      patterns_dir => ["/etc/logstash/pattern"]
      match => { "message" => "^=%{WORD:report_type} REPORT=+ %{RABBIT_TIME:time_text} ===.*$" }
    }
    date {
      match => [ "time_text" , "dd-MMM-yyyy HH:mm:ss" ]
    }
    mutate {
      add_field => [ "severity","%{report_type}" ]
    }
    mutate {
      gsub => [
        "message", "^=[A-Za-z0-9: =-]+=\n", "",
        # interpret message header text as "severity"
        "report_type", "INFO", "1",
        "report_type", "WARNING", "3",
        "report_type", "ERROR", "4",
        "report_type", "CRASH", "5",
        "report_type", "SUPERVISOR", "5"
      ]
    }
  }
}